In [2]:
high_schools = ["Hernadez High School", "Figueroa High School", "Wilson High School","Wright High School"]

In [4]:
for school in high_schools:
    print(school)

Hernadez High School
Figueroa High School
Wilson High School
Wright High School

In [6]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

In [8]:
#Skill Drill 4.3.4
for hstype in high_school_types: 
    print (hstype)

{'High School': 'Griffin', 'Type': 'District'}
{'High School': 'Figueroa', 'Type': 'District'}
{'High School': 'Wilson', 'Type': 'Charter'}
{'High School': 'Wright', 'Type': 'Charter'}

In [14]:
# List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [15]:
# Add the Pandas dependency.
import pandas as pd

In [23]:
# Create a Pandas Series from a list. 
school_series = pd.Series(high_schools)
school_series

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
dtype: object

In [29]:
# Skill drill 4.3.5
school_series[0:14]

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
dtype: object

In [30]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [31]:
school_df = pd.DataFrame(high_school_dicts)
school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [32]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [33]:
# Initialize a new DataFrame. 
schools_df = pd.DataFrame()

In [42]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id

# Print the DataFrame.
schools_df

   School ID            School Name
0          0      Huang High School
1          1   Figueroa High School
2          2    Shelton High School
3          3  Hernandez High School
4          4    Griffin High School

In [43]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [45]:
hschool_df = pd.DataFrame(high_schools_dict)
hschool_df

   School ID            school_name      type
0          0      Huang High School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [46]:
school_df.columns

Index(['School ID', 'school_name', 'type'], dtype='object')

In [47]:
school_df.index

RangeIndex(start=0, stop=5, step=1)

In [48]:
school_df.values

array([[0, 'Huang High    School', 'District'],
       [1, 'Figueroa High School', 'District'],
       [2, 'Shelton High School', 'Charter'],
       [3, 'Hernandez High School', 'District'],
       [4, 'Griffin High School', 'Charter']], dtype=object)

In [57]:
# Create School ID List
sd_school_id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

# Create School Name List
sd_school_name = ["Huang High School", "Firgueroa High School", "Shelton High School", "Hernadez High School", "Griffin High School", "Wilson High School", "Cabrera High School", "Baily High School", "Holden High School", "Pena High School", "Wright High School", "Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

# Create Type of School List
sd_type = ["District", "District", "Charter", "District", "Charter", "Charter", "Charter", "District", "Charter", "Charter", "Charter", "District", "District", "District", "Charter"]

In [58]:
sd_high_schools_dict = {'School ID': sd_school_id, 'school_name':sd_school_name, 'type':sd_type}

In [59]:
sd_hschool_df = pd.DataFrame(sd_high_schools_dict)
sd_hschool_df

    School ID            school_name      type
0           0      Huang High School  District
1           1  Firgueroa High School  District
2           2    Shelton High School   Charter
3           3   Hernadez High School  District
4           4    Griffin High School   Charter
5           5     Wilson High School   Charter
6           6    Cabrera High School   Charter
7           7      Baily High School  District
8           8     Holden High School   Charter
9           9       Pena High School   Charter
10         10     Wright High School   Charter
11         11  Rodriguez High School  District
12         12    Johnson High School  District
13         13       Ford High School  District
14         14     Thomas High School   Charter

In [1]:
 class Cat:
        def __init__(self,name):
            self.name = name

In [2]:
first_cat = Cat('Felix')
print(first_cat.name)

Felix

In [6]:
second_cat = Cat('Garfield')
print(second_cat.name)

Garfield

In [9]:
class Dog:
    def __init__(self, name, color, sound):
        self.name = name
        self.color = color
        self.sound = sound
    
    def bark (self):
        return self.sound + ' ' + self.sound

In [10]:
first_dog = Dog('Fido', 'brown', 'woof!')
print(    first_dog.name)
print(first_dog.color)
first_dog.bark()

Fido
brown

'woof! woof!'

In [11]:
second_dog = Dog('Lady', 'blonde', 'arf!')
print(    second_dog.name)
print(second_dog.color)
second_dog.bark()

Lady
blonde

'arf! arf!'

NameError: name 'df' is not defined